.card {
    padding: 1rem;
    background-color: #ddd;
    border: 1px solid #333;
    border-radius: 4px;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.actionBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 8px;
}

.actionButton {
    height: 32px;
    width: 32px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #afa;
}

.cancelButton {
    background-color: #faa;
}

.actionButton:active {
    background-color: rgb(108, 160, 108);
}

.actionLink {
    text-decoration: none;
    color: black;
}

.actionLinkDelete {
    text-decoration: none;
    color: red;
}

.bottomActionBar {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 8px;
}

.title {
    margin: .5rem 0.5rem;
    font-size: 1.25rem;
}