.card {
    padding: 1rem;
    background-color: #ddd;
    border: 1px solid #333;
    border-radius: 4px;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 8px;
}

.actionButton {
    text-decoration: none;
    color: black;
}

.actionButtonDelete {
    text-decoration: none;
    color: red;
}

.title {
    margin: .5rem 0.5rem;
    font-size: 1.25rem;
}